<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  Email: <input type="text" name="email">
  Password: <input type="text" name="password">
  <button id="submit" type="submit">Log In</button>
</form>
