<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  <ul>
    <li>
      <label for="email">Email:</label>
      <input type="text" name="email">
    </li>
    <li>
      <label for="password">Password:</label>
      <input type="text" name="password">
    </li>
  </ul>
  <input type="submit" name="submit" value="Log In" id="submit">
</form>
